html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(68, 68, 68);
    background-color: #d9deeb
}  
.page-content{
    width: 100%;
    display: inline-block;
}

/*    <~~~ HEADER NAVIGATION start ~~~~   */
.navBar{
    width: 100%;
    display: inline-block;
    min-height: 55px;
    background-color: #f4f6fa;
    box-shadow: 0 0 10px rgb(133, 129, 129); 
    justify-content: center;
}
.navBar-left{
    display: inline-block;
    width: 35%;
    height: auto;
    margin: 0 0 0 0;
}
#header-logo{
    display: inline-block;
    width: 120px;
    margin: 0 0 0.8em 0;
    cursor: pointer;
}
.navBar-center{
    width: 30%;
    display: inline-block;
    vertical-align: text-bottom;
    margin: 1em 0;
    text-align: center;
}
#navBar-pageTitle {
    margin: 0 auto;
    font-size: 1.3em;
    font-weight: bold;
}
.navBar-right{
    display: block;
    float: right;
    width: 33%;
    height: auto;
    margin: 0.4em 0;
}
#navButton-toggle{
    height: 33px;
    width: 33px;
    position: relative;
    display: block;
    margin: 0.5em 0.5em;
    float: right;
    padding: 3px 6px;
    background: transparent;
    border: 3px solid #555;
    border-radius: 8px;
    cursor: pointer;
}
.navButton-Line{
    background:#555;
    display: block;
    width: 15px;
    height: 3px;
    border-radius: 1px;
    margin: 3px 0;
}
.navBar-show{
    display: inline-block;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: openNavBar;
}
@keyframes openNavBar{
    0%  {opacity: 0%; }
  100%  {opacity: 100%; }
}
nav{
    display: none;
    margin: 0 auto;
    width: 100%;
}
nav > ul{
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
}
nav > ul > li{
    display: inline-block;
}
nav > ul > li > a{
    display: inline-block;
    padding: 0.5em;
    text-align: center;
}
nav > ul > li > a:hover{
    cursor: pointer;
    background: #333;
    color: #fff
}
.activePage{
    cursor: pointer;
    background: #333;
    color: #fff
}
/*    ~~~~ HEADER NAVIGATION end ~~~>   */

main{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.flag-logo{
    width: 32px;
    margin: 0.5em;
    position: absolute;
    top: 6px;
    right: 40px;
}
#swe-logo{
    visibility: hidden;
}
#uk-logo{
    visibility: visible;
}

/*    <~~~~ START page start~~~    */ 
#Start-Page{
    width: 100%;
    margin-top: 8em;
    margin-bottom: 8em;
}
#Start-Page > h2{
    margin: 0 auto;
    height: auto;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: grid;
    place-items: center;   
} 
#start-image{
    width: 100%;
    display: grid;
    place-items: center;
    margin: 8% 0;
}
#start-logo{
    width: 300px;
}
#Start-Page > h3{
    margin: 0 auto;
    height: auto;
    width: 90%;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: grid;
    place-items: center; 
    text-align: center;  
} 
/*    ~~~~ START page end ~~~>   */

/*    <~~~~ PRESENTATION page start~~~    */ 

#Presentation-Page{
    width: 100%;
    margin-top: 2em;
}
#presentation-image{
    width: 100%;
    display: grid;
    place-items: center;
    margin: 7% 0;
}
#presentation-logo{
    width: 300px;
}
.presentation-content{
    width: 100%;
    margin: 0 0 0.1em 0;
    height: auto;
    padding: 1em 0;
    background-color: #f4f6fa;
    display: flex;
}
#Presentation-Page > h3{
    margin: 0 auto 1.5em;
    height: auto;
    width: 90%;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
} 
.presentation-content-left{
    width: 90%;
    place-items: center;
}
.presentation-content-left > p{
    margin: 0 auto;
    padding: 0 0.5 0 0em;
    width: 95%;
    font-size: 1em;
    font-weight: bold;
} 
.presentation-content-right{
    margin: auto 1em auto 0;
    width: 10%;
    padding: 0;
    text-align: right;
}
.fas{
    font-size: 2.5em;
}
.fa-industry{
    font-size: 2em;
}
.fa-hard-hat{
    font-size: 2.4em;
}
.fa-user-friends{
    font-size: 2em; 
}
.fa-desktop{
    font-size: 2em;
}
.fa-shield-alt{
    font-size: 2em;
}
/*    ~~~~ PRESENTATION page end ~~~>   */

/*    <~~~~ SERVICES page start~~~    */ 
#Services-Page{
    margin: 0.1em 0 0 0;
}
.services-content{
    width: 100%;
    margin: 0 0 0.1em 0;
    padding: 1em 0;
    background-color: #f4f6fa;
}
.services-content > h2{
    margin: 0;
    padding: 0.5em 0 1em 0;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-align: center;
}
.services-content > p{
    margin: 0;
    padding: 1em 1.5em 0.5em 1.5em;
    font-weight: bold;
    text-align: left;
}
.services-content > ul{
    margin: 0 0 1em 0;
}
.services-content > ul > li{
    margin: 0;
    padding: 0.1em 0;
    font-weight: bold;
}
.services-content > img{
    display: inline-block;
    width: 100%;
}
/*    ~~~~ SERVICES page end ~~~>   */

/*    <~~~~ REFERENCES page start~~~    */
/*    ~~~~ REFERENCES page end ~~~>   */

/*    <~~~~ PRODUCTS page start~~~    */
#Products-Page{
    width: 100%;
}
.products-content{
    width: 100%;
    margin: 0.1em 0 0.1em 0;
    padding: 1em 0;
    background-color: #f4f6fa;
    text-align: center;
}
.products-content > h2{
    margin: 0;
    padding: 0.5em 0 1em 0;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
}
.products-content > img{
    display: inline-block;
    width: 100%;
}
.products-content > p{
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
    font-weight: bold;
    text-align: center;    
}
.products-content > a{
    width: 100%;
    letter-spacing: 0.05em;
    font-weight: bold;
}
.products-content > a:link {
    color:black;
  }
.products-content > a:hover {
    color: rgb(131, 131, 131);
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0.2em 0.4em;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
} 
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.xylon-arrows:hover{
    cursor: pointer;
    color: rgb(128, 122, 122);
}
.xylon-arrows{
    font-weight: bold;
}
#xylon-arrow-down{
    display: inline-block;
}
#xylon-arrow-up{
    display: none;
}
#xylon-remote-arrow-down{
    display: inline-block;
}
#xylon-remote-arrow-up{
    display: none;
}
#arrow-down{
    visibility: visible;
}
#arrow-up{ 
    visibility: hidden; 
}
#arrow-down2{ 
    visibility: visible;
}
#arrow-up2{ 
    visibility: hidden;   
}
.products-info{
    width: 100%;
}
.products-info > h3{
    width: 90%;
    margin: 1em auto 0.5em;
    padding: 0;
    font-weight: bold;
    text-align: left;
}
.products-info > p{
    width: 90%;
    margin: auto;
    padding: 0 0 1em 0;
    font-weight: bold;
    text-align: left; 
}
#xylon-remote-info{
    display: none;
}
#xylon-info{
    display: none;
}
/*    ~~~~ PRODUCTS page end ~~~>   */ 

/*    <~~~~ CONTACT page start~~~    */
.contact-content{
    text-align: center;
    width: 100%;
}
#contact-info{
    margin: 0.1em 0;
    background-color: #f4f6fa;
    font-weight: bold;
}
.contact-map > p{
    padding: 0.5em;
    margin: 0;
}
.employee{
    background-color: #f4f6fa;
    margin: 0.01em 0 0.1em 0;
    padding: 1em 0;
    font-weight: bold;
}
/*    ~~~~ CONTACT page end ~~~>   */ 

/*    <~~~~ FOOTER start~~~    */ 
footer{
    width: 100%;
    background-color: #474e5d;
    color: white;
    display: flex;
    bottom: 0;
}
.footer-content{
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
}
.footer-list{
    list-style: none;
    width: 200px;
    margin: 3% 0;
    padding: 0;
}
.footer-header{
    font-weight: bold;
    padding: 3% 0;
    margin: 0;
}
.footer-data{
    padding: 3% 0;
}
.footer-header > a:hover{
    cursor: pointer;
    color: rgb(128, 122, 122);
}
.products-data:hover{
    cursor: pointer;
    color: rgb(128, 122, 122);
}
/*    ~~~~ FOOTER end~~~>    */ 

/* Denna kod används om skärmen är större än 768px */
@media screen and (min-width: 768px){
    #header-logo{
        width: 170px;
        margin: 0 0 2% 0;
    } 
    .flag-logo{
        width: 34px;
    }

    /*    <~~~~ START page start~~~    */
    #Start-Page{
        margin-top: 10.7em;
        margin-bottom: 11.5em;
    }
    #Start-Page > h2{
        font-size: 2em; 
    } 
    #start-image{
        margin: 1.5em 0;
    }
    #start-logo{
        width: 550px;
    }
    /*    ~~~~ START page end ~~~>   */

    /*    <~~~~ SERVICES page start~~~    */
    #Services-Page{
        width: 100%;
        margin: 3.5em 0 0 0
    }
    .services-content{
        width: 70%;
        margin: 0 15% 0.1em 15%;
    }
    .services-content > p{
        width: 90%;
        margin: 0 3%;
        padding: 1em 0 0.5em 1em;
    }
    .services-content > ul{
        width: 90%;
        margin: 0;
        padding: 0 0 1em 3.5em;
    }
    .services-content > img{
        width: 90%;
        margin: 0 5%
    }
    /*    ~~~~ SERVICES page end ~~~>   */ 

    /*    <~~~~ PRESENTATION page start~~~    */ 
    #Presentation-Page{
        margin: 0 0 3em 0;
    }
    #presentation-image{
        margin: 2em 0 1em 0;
    }
    #presentation-logo{
        width: 400px;
    }
    .presentation-content{
        width: 90%;
        margin: 0 5% 0.1em 5%;
    }
    .presentation-content-left > p{
        margin: 0 0 0 1em;
        width: 100%;
    } 
    .fas{
        font-size: 3em;
    }
    .fa-industry{
        font-size: 2.5em;
    }
    .fa-hard-hat{
        font-size: 2.9em;
    }
    .fa-user-friends{
        font-size: 2.5em; 
    }
    .fa-desktop{
        font-size: 2.5em;
    }
    .fa-shield-alt{
        font-size: 2.5em;
    }
    /*    ~~~~ PRESENTATION page end ~~~>   */

    /*    <~~~~ PRODUCTS page start~~~    */
    #Products-Page{
        width: 100%;
        margin: 5em 0 0 0
    }
    .products-content{
        width: 70%;
        margin: 0.1em 15% 0.1em 15%;
    }
    .products-content > img{
        width: 84%;
    }
    .products-content > p{
        width: 90%;
        margin: 0 5% 0 5%;
        padding: 1em 0;    
    }
    .products-info > h3{
        width: 84%;
    }
    .products-info > p{
        width: 84%;
    }
    /*    <~~~~ PRODUCTS desktop end ~~~   */

    /*    <~~~~ CONTACT desktop start~~~    */
    #contact-employees{
        display: flex;
    }
    .employee{
        width: 100%;
        margin: 0.05em;
    }
    /*    ~~~~ CONTACT desktop end ~~~>   */ 

    /*    <~~~~ FOOTER desktop end ~~~   */
    .footer-content{
        display: flex;
        justify-content: center;
    }
    .footer-list{
        margin: 2em 1.5em;
    }
    .footer-data{
        padding: 0.5em 1em;
    }
    .footer-header{
        padding: 0.5em 0;
    } 
    .findUs-data{
        display: inline-block;
    }
    .contact-data{
        display: inline-block;
    }
    .products-data{
        display: inline-block;
    }
    .down{
        visibility: hidden;
    }
    .up{
        visibility: hidden;
    }
    /*    ~~~~ FOOTER desktop end ~~~>   */
}

/* Denna kod används om skärmen är större än 1068px */
@media screen and (min-width: 1068px){
     /*    <~~~~ HEADER NAVIGATION desktop start~~~    */    
     nav{
        visibility: visible;
        display: inline-block;
        margin: 0.2em 0;
        width: 65%;
    }
    .navDesktop{
        visibility: visible;
        display: inline-block;
        margin: 0 auto;
        width: 60%;
    }
    .navBar-left{
        width: 15%;
        margin: 0 0;
    }
    #header-logo{
        width: 170px;
        margin: 0 0 0.5em 0;
    }
    .navBar-center{
        display: none;
        visibility: hidden;
    }
    .navBar-right{
        display: none;
        visibility: hidden;
        width: 20%;
    }
    nav > ul{
        width: auto;
    }
    nav > ul > li > a{
        padding: 1em 1em;
    }
    /*    ~~~~ NAVIGATION desktop end ~~~>   */

    .flag-logo{
        width: 40px;
        top: 2px;
        right: 2px;
    }

    /*    <~~~~ SERVICES page start~~~    */ 
    .services-container{
        display: flex;
    }
    .services-content{
        margin: 0 0.1em 0.1em 0;
        padding: 0.5em 2em;                
    }
    .services-content > h2{
        text-align: left;
    }
    .services-content > p{
        width: 100%;
        padding: 1em 0 0.5em 0;
        margin: 0;
    }
    .services-content > ul{
        margin: 0;
        padding: 0 0 0.5em 1em;
    }
    .services-content > img{
        width: 100%;
        margin: 0;
    }
    /*    ~~~~ SERVICES page end ~~~>   */ 
    
    
    /*    <~~~~ PRESENTATION page start~~~    */ 
    .presentation-content{
        width: 80%;
        margin: 0 10% 0.1em 10%;
    } 
    /*    ~~~~ PRESENTATION page end ~~~>   */


    /*    <~~~~ PRODUCTS page start~~~    */
    #Products-Page{
        width: 90%;
        margin: 7em 0;
        display: flex;
        padding: 0 5%;
    }
    .products-content{
        width: 50%;
        margin: 0.1em 1em 0.1em 1em;
        display: inline-table;
        min-height: 600px;
    }
    #xylon-info{
        min-height: 660px;
    }
    #xylon-remote-info{
        min-height: 640px;
    }
    
    /*    <~~~~ PRODUCTS desktop end ~~~   */

    /*    <~~~~ CONTACT desktop start~~~    */
    #contact-info{
        width: 70%;
        margin: 3em 15%;
    }
    #contact-employees{
        display: flex;
        width: 70%;
        margin: 0 15% 3em;
    }
    /*    ~~~~ CONTACT desktop end ~~~>   */ 

}